<div class="auth-container">
    <h2><span>Log</span>in</h2>
    <form action="/login" method="post" class="form">
        <label for="email">E-mail:</label>
        <input type="email" email name="email">
        <label for="password">Senha:</label>
        <div class="pass">
            <input type="password" name="password" id="password">
            <i class="bi bi-eye-fill" id="toggle-password"></i>
        </div>
        <button type="submit">Entrar</button>
    </form>
    <h4>Não possui uma conta? Clique <a href="/register">aqui!</a></h4>
</div>